package-manager=yarn

registry=https://registry.npmmirror.com

@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=LZhxq12U90gS/mgOI9yBdzWYrbOxvRW1U8C67Eh3kVGEIV5N3J9ZoCXqiOFux4Tu