.tiptap :first-child {
  margin-top: 0;
}
.tiptap > * {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.tiptap h1 {
  color: #111827;
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}
.tiptap h2,
h3,
h4,
h5,
ul,
ol {
  margin-top: 1em;
  margin-bottom: 0.6em;
}

.tiptap h2 {
  color: #111827;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.3333333;
}

.tiptap h3 {
  color: #111827;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.6;
}
.tiptap h4 {
  color: #111827;
  font-weight: 600;
  line-height: 1.5;
}
.tiptap p,
pre,
blockquote {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
.tiptap blockquote {
  padding-left: 12px;
  border-left: 4px solid #e5e7eb;
}

.tiptap ul {
  list-style-type: disc;
  padding-inline-start: 1.625em;
}
.tiptap ul > li {
  padding-left: 0.375em;
}

.tiptap li > p,
li > ul,
li > ol {
  margin-top: 0;
  margin-bottom: 0;
}

.tiptap ol {
  list-style-type: decimal;
  padding-inline-start: 1.625em;
}
.tiptap ol > li {
  padding-left: 0.375em;
}

.tiptap pre {
  white-space: pre-wrap;
  color: #e5e7eb;
  background-color: #1f2937;
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.7142857;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-inline-end: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-inline-start: 1.1428571em;
}

.tiptap pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

.tiptap code {
  color: #e5e7eb;
  font-size: 0.875em;
  background-color: #1f2937;
  padding: 0.125em 0.25em;
  margin: 0 0.25em;
  border-radius: 0.25em;
  font-weight: 400;
}

.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap .node-imageUpload:hover {
  --tw-border-opacity: 0.3;
}

.tiptap .node-imageUpload {
  transition: border 0.16s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  border-width: 2px;
  border-style: dotted;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  --tw-border-opacity: 0.1;
  padding: 0.5rem;
}

/* Code styling */
.hljs-comment,
.hljs-quote {
  color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b9f18d;
}

.hljs-title,
.hljs-section {
  color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #70cff8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

.tiptap .ProseMirror-selectednode img,
.tiptap .node-imageBlock:hover img {
  outline: 3px solid #68cef8;
}

.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.ProseMirror .node-imageBlock img {
  overflow: hidden;
  border-radius: 0.75rem;
  border-width: 2px;
  border-color: transparent;
}
.ProseMirror img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.ProseMirror ul[data-type=taskList] {
  list-style-type: none;
  padding: 0;
}
.ProseMirror ul[data-type=taskList] li {
  display: flex;
  /* align-items: center; */
}
.ProseMirror ul[data-type=taskList] li>label {
  margin-top: .25rem;
  margin-right: .5rem;
  flex: 1 1 auto;
  flex-shrink: 0;
  flex-grow: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.ProseMirror ul[data-type=taskList] li>div {
  flex: 1 1 auto;
  transform: translateY(2px);
}
.ProseMirror ul[data-type=taskList] p {
  margin: 0;
}
.ProseMirror ol:last-child,
.ProseMirror ul:last-child {
  margin-bottom: 0;
}

.ProseMirror ol li,
.ProseMirror ol ol,
.ProseMirror ol ul,
.ProseMirror ul li,
.ProseMirror ul ol,
.ProseMirror ul ul {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.tiptap ul[data-type=taskList] li[data-checked=true] {
  text-decoration-line: line-through;
}